<a href="https://colab.research.google.com/github/dtabuena/Workshop/blob/main/Image/Test_Stitch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
!pip install opencv-python

Requirement already satisfied: opencv-python in c:\users\dennis.tabuena\appdata\local\anaconda3\lib\site-packages (4.9.0.80)
Requirement already satisfied: numpy>=1.21.2 in c:\users\dennis.tabuena\appdata\local\anaconda3\lib\site-packages (from opencv-python) (1.24.3)

In [23]:
import os
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import cv2

In [24]:
image_set_dir = "C:\\Users\\dennis.tabuena\\Dropbox (Gladstone)\\0_Projects\\_Hyper+Crisper\\Morphological_Analysis\\TestNeuron1\\"
image_set_prefix = 'Test_Neuron1'

os.chdir(image_set_dir)

tif_list=list()
for dir,root,files in os.walk(image_set_dir):
    for f in files:
        if 'CH4.tif' in f:
            tif_list.append(os.path.join(dir,f))

In [25]:
pd_dict = {'file_loc': [t for t in tif_list],
           'xy': [t.split("_")[-3] for t in tif_list],
           'z': [t.split("_")[-2] for t in tif_list]}
image_df = pd.DataFrame(pd_dict)

display(image_df)

                                               file_loc     xy     z
0     C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00001  Z001
1     C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00001  Z002
2     C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00001  Z003
3     C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00001  Z004
4     C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00001  Z005
...                                                 ...    ...   ...
2845  C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00025  Z110
2846  C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00025  Z111
2847  C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00025  Z112
2848  C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00025  Z113
2849  C:\Users\dennis.tabuena\Dropbox (Gladstone)\0_...  00025  Z114

[2850 rows x 3 columns]

In [26]:
z_planes = sorted(list(set(image_df['z'])))
print(z_planes)

for cur_z in [z_planes[15]]:
    single_plane_images = image_df['file_loc'][[cur_z in z for z in image_df['z']]].values

['Z001', 'Z002', 'Z003', 'Z004', 'Z005', 'Z006', 'Z007', 'Z008', 'Z009', 'Z010', 'Z011', 'Z012', 'Z013', 'Z014', 'Z015', 'Z016', 'Z017', 'Z018', 'Z019', 'Z020', 'Z021', 'Z022', 'Z023', 'Z024', 'Z025', 'Z026', 'Z027', 'Z028', 'Z029', 'Z030', 'Z031', 'Z032', 'Z033', 'Z034', 'Z035', 'Z036', 'Z037', 'Z038', 'Z039', 'Z040', 'Z041', 'Z042', 'Z043', 'Z044', 'Z045', 'Z046', 'Z047', 'Z048', 'Z049', 'Z050', 'Z051', 'Z052', 'Z053', 'Z054', 'Z055', 'Z056', 'Z057', 'Z058', 'Z059', 'Z060', 'Z061', 'Z062', 'Z063', 'Z064', 'Z065', 'Z066', 'Z067', 'Z068', 'Z069', 'Z070', 'Z071', 'Z072', 'Z073', 'Z074', 'Z075', 'Z076', 'Z077', 'Z078', 'Z079', 'Z080', 'Z081', 'Z082', 'Z083', 'Z084', 'Z085', 'Z086', 'Z087', 'Z088', 'Z089', 'Z090', 'Z091', 'Z092', 'Z093', 'Z094', 'Z095', 'Z096', 'Z097', 'Z098', 'Z099', 'Z100', 'Z101', 'Z102', 'Z103', 'Z104', 'Z105', 'Z106', 'Z107', 'Z108', 'Z109', 'Z110', 'Z111', 'Z112', 'Z113', 'Z114']

In [27]:
def get_square(ind,d=5):
    if (ind+1)%d < 1:
        return None
    if  d**2 < ind+d+1:
        return None
    else:
        ind_01 = ind+d
        ind_10 = ind+1
        ind_11 = ind+1+d
    return [ind,ind_01,ind_10,ind_11]

In [28]:
stitcher = cv2.Stitcher_create(mode=1)
(status, stitched_full) = stitcher.stitch(image_data_list_sorted)
plt.imshow(stitched_full)

NameError: name 'image_data_list_sorted' is not defined

In [ ]:
##
image1 = image_data_list_sorted[2]
image2 = image_data_list_sorted[1]

In [ ]:
# Initialize the SIFT feature detector and extractor
sift = cv2.SIFT_create( )

# Detect keypoints and compute descriptors for both images
keypoints1, descriptors1 = sift.detectAndCompute(image1, None)
keypoints2, descriptors2 = sift.detectAndCompute(image2, None)

In [ ]:
image1_keypoints